<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="776cc1">  <td>21/04/23 14:37:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:test.TestScript@43195e57]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@403147759</td>   <td></td> </tr>
<tr bgcolor="afa19b">  <td>21/04/23 14:37:57</td>   <td>22881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript.homepage_load()[pri:0, instance:test.TestScript@43195e57]">homepage_load</td> 
  <td>main@403147759</td>   <td></td> </tr>
<tr bgcolor="776cc1">  <td>21/04/23 14:38:19</td>   <td>45504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:test.TestScript@43195e57]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@403147759</td>   <td></td> </tr>
</table>
